body{
    background-color:rgb(255, 252, 230);
}

.main{
    font-size:14px;
}

.titulo{
    text-align: center;
}

.titulo::first-letter{
    text-transform: uppercase
}

.link:hover{
    text-decoration: none;
}

#minor-title{
    font-size:16px;
    text-transform:uppercase;
    font-weight:bold;
}